<div class="top-nav">
  <span class="menu">MENU</span>
  <ul class="nav1 cl-effect-15">
    {{#if isHome}}
      <li><a href="index.html" class="active">Home</a></li>
    {{else}}
      <li><a href="index.html" data-hover="Home">Home</a></li>
    {{/if}}
    {{#if isAbout}}
      <li><a href="about.html" class="active">About</a></li>
    {{else}}
      <li><a href="about.html" data-hover="About">About</a></li>
    {{/if}}
    {{#if isServices}}
      <li><a href="services.html" class="active">Services</a></li>
    {{else}}
      <li><a href="services.html" data-hover="Services">Services</a></li>
    {{/if}}
    {{#if isTypography}}
      <li><a href="typography.html" class="active">Typography</a></li>
    {{else}}
      <li><a href="typography.html" data-hover="Typography">Typography</a></li>
    {{/if}}
    {{#if isGallery}}
      <li><a href="gallery.html" class="active">Gallery</a></li>
    {{else}}
      <li><a href="gallery.html" data-hover="Gallery">Gallery</a></li>
    {{/if}}
    {{#if isContact}}
      <li><a href="contact.html" class="active">Contact</a></li>
    {{else}}
      <li><a href="contact.html" data-hover="Contact">Contact</a></li>
    {{/if}}
  </ul>
  <script>
    $( "span.menu" ).click(function() {
      $( "ul.nav1" ).slideToggle( 300, function() {
        // Animation complete.
      });
    });
  </script>
</div>

